.navigation-item{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    text-transform: capitalize;
   
    color: black !important;
    margin: 16px !important;
}

.header{
    background-color: rgb(241, 248, 241);
    height: 75px !important;
}