.titre{
    color: white;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 2px 2px #2e0e8c;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 150px;
}
.cd-timer1{
    text-align: right;
    margin: 40px;
    margin-top: 80px;
    padding-right: 50px;
    padding-bottom: 60px !important;
    font-size: 60px;
    font-weight: 500;
    font-family: "Roboto",sans-serif;;
}

.lettre1{
    font-size: 20px !important;
    color: white;
}
.btnnn{
    background-color:#2e0e8c!important ;
    color: white !important;
    margin-top: 60px !important;
    margin-left: 120px !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    padding:15px !important;
    letter-spacing: 2px!important;
    font-family: "Roboto",sans-serif!important;
    position: relative!important;
}
.slider-area {
    height: 800px;
}